.TodoForm{
    position: relative;
    display: flex;
    width: 720px;
    height: 254px;
    align-items: center;
    top: 37%;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    left: 29vw;
}

.TodoForm article:first-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TodoForm article:nth-child(4){
    width: 154px;
}

.TodoForm article button{
    margin: 6%;
}

.TodoForm-img-users{
    margin: 10px;
}

.TodoForm-img-users:hover {
    border: 8px solid var(--gray);
}