.TodoList{
    padding: 48px 24px 38px 48px;
}


.TodoList-newTask{
    display: flex;
    justify-content: space-between;
}

.todoSections{
    display: flex;
}

.todoSections-TaskName{
    flex-grow: 4;
    color: gray;
}
.todoSections-Deadline,
.todoSections-Status,
.todoSections-Assigne{
    flex-grow: 1;
    color: gray;
}