.TodoCounter{
    background-color: blueviolet;
    width: 94%;
    border: blueviolet solid 8px;
    border-radius: 10px;
    margin-bottom: 22px;
}

.TodoCounter-user-name{
    display: flex;
}

.TodoCounter-user{
    display: flex;
    gap: 2px;
    color: white;
}

.TodoCounter-user img{
    border-radius: 100%;
}