.navView{
    flex-grow: 1;
    background-color: #4F0071;
}

.principalView{
    flex-grow: 5;
    background-color: #EDE0F9;
}

.secundaryView{
    flex-grow: 1;
    background-color: #FFFFFF;
    padding: 20px;
}