.navView{
    flex-grow: 1;
    background-color: var(--dark-purple);
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.principalView{
    flex-grow: 5;
    background-color: var(--backgraund-color);
}

.secundaryView{
    flex-grow: 1;
    background-color: var(--white);
    padding: 20px;
}