.navView{
    flex-grow: 1;
    background-color: var(--dark-purple);
}

.principalView{
    flex-grow: 5;
    background-color: var(--backgraund-color);
}

.secundaryView{
    flex-grow: 1;
    background-color: var(--white);
    padding: 20px;
}